body {
    color: #333;
    background-color: antiquewhite;
    display: flex;
}

header section {
    border: 2px solid;
    margin: 2px;
    padding: 20px;
}

.flexbox-container {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
    gap: 20px;
}

h1 {
    text-align: center;
    text-decoration-line: underline;
    text-transform: uppercase;
}

img {
    border-radius: 50%;
    border: 2px dotted #333;
}

a {
    text-decoration: none;
    color:#333
}

a:hover {
    background-color: darkgoldenrod;
}